body { 
    margin: 1%;
}

.angry-grid {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    width: 100%;
    height: calc(90vh - 40px);
 }
   
 #item-0 {
 
    background-color: #167AAC;
    color: white;
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-1 {
 
    background-color: #167AAC;
    color: white;
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 7;
    
 }
 #item-2 {
 
    background-color: #167AAC;
    color: white;
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 6;
    grid-column-end: 7;
    
 }
 #item-3 {
 
    background-color: #167AAC;
    color: white;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
    
 }
 button { 
    display: flex;
	color:#000000;
	
	padding:7px 25px;
}
 #item-4 {
 
    background-color: #167AAC;
    color: white;
    grid-row-start: 5;
    grid-column-start: 1;
 
    grid-row-end: 7;
    grid-column-end: 3;
    
 }
 #item-5 {
 
    background-color: #167AAC;
    color: white;
    grid-row-start: 6;
    grid-column-start: 3;
    grid-row-end: 7;
    grid-column-end: 7;
    
 }

table{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 90vw;
    height: 45vh;
    background-color: white;
    
}





